<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/new" method="GET">
        <button type="submit" >ADD</button>
    </form>
    <% for (var x of animals) { %>
        <h4><a href="/info/<%= x._id %>">"<%= x.name %>"</a></h4>
        <%= x.age %> 

        <hr>
    <% } %>

    
</body>
</html>